<button *ngIf="editorHidden; else elseBlock" (click)="editorHidden=false">New Post</button>
<ng-template #elseBlock>
  <form>
    <input #title type="text" placeholder="Title"><br>
    <input #name type="text" placeholder="Name"><br>
    <textarea #content rows="8" cols="50" placeholder="Body" name="content"></textarea><br>
    <button (click)="createPost(title.value, content.value, name.value)">Submit</button>
    <button (click)="editorHidden=true">Cancel</button>
  </form>
  <p class="error-message" *ngIf="!messageHidden">Fields cannot be empty</p>
</ng-template>