<h2>Posts</h2>
<div>
  <app-post-composer [posts]='posts'></app-post-composer>
  <div *ngIf="posts">
    <div *ngFor="let post of posts.reverse()" routerLink="/post/{{post.id}}" class="post-item">
      <!--<div class="post-container">
        <h3>{{post.title}} ({{post.id}})</h3>
        <p>by {{post.name}} on {{post.time | date:'y/MM/dd, hh:mm:ss'}}</p>
        <div class="content">
        <p>{{post.content}}</p>
        
        </div>
      </div>-->
      <app-post-view [post]="post"></app-post-view>
    </div>
  </div>
</div>